%html
  %head
    %title= "Index of /#{@username}"
  %body
    %h1
      Index of /#{@username}

    %table
      %tr
        %th
          %img{:src => "/icons/blank.png"}
        %th
          %a{:href => "#"}
            Name
        %th
          %a{:href => "#"}
            Last Modified
        %th
          %a{:href => "#"}
            Size
        %th
          %a{:href => "#"}
            Description
      %tr
        %th{:colspan => 5}
          %hr
      %tr
        %td
          %img{:src => "/icons/back.png"}
        %td
          %a{:href => "../"}
            Parent Directory
        %td
        %td{:align => "right"}
          \-
      - @repos.each do |r|
        %tr{:class => "repo_row"}
          %td
            %img{:src => "/icons/folder.png"}
          %td
            %a{:href => "/#{@username}/#{r["name"]}"}
              #{r["name"]}
          %td
            #{r["pushed_at"]}
          %td{:align => "right"}
            \-
          %td
            &nbsp;#{r["description"][0 .. 80]}
            - if r["description"].length > 80
              \...
